@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.color{
    background-color: #F2F2F2; 
}
.color2{
    background-color: #25779C;
}
.color3{
    color: #DC5C33;
}
.active{
    color: #FCE2AD;
}